body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 100vh;
  background-color: blue;
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
  font-size: 20px;
}

#startButton {
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  background-color: purple;
  transition: transform 0.5s ease, opacity 0.6s ease;
  cursor: pointer;
}

#startButton:hover {
  transform: scale(1.3);
  transform: translateY(-2px);
}

#startButton:active {
  opacity: 0.6;
}

#startButton a {
  text-decoration: none;
  color: white;
}

.collection_card_outline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}