body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}